  span {
    width: 150px;
  }
  .button {
    border: 1px solid gray;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  .button:hover {
    cursor: pointer;
  }
  .start {background-color: #4CAF50;}
  .pause {background-color: #008CBA;}
  .stop {background-color: #f44336;}
  .reset {background-color: #ec971f;}